- var action = isEdit ? `/community/board/${board}/${id}` : `/community/board/${board}/write`
form(name="write" action=action method="post")
    table
        tr 
            td
                label Title 
            td 
                input(name="title" type="text" required value=title)
        tr 
            td 
                label Content
            td 
                .wysiwyg-top
                    table.wysiwyg-table
                        tr 
                            td.wysiwyg-top-style(onclick="Editor.bold()")
                                i.fa.fa-bold
                            td.wysiwyg-top-style(onclick="Editor.italic()")
                                i.fa.fa-italic
                            td.wysiwyg-top-style(onclick="Editor.underline()")
                                i.fa.fa-underline
                            td.wysiwyg-top-style(onclick="Editor.strike()")
                                i.fa.fa-strikethrough
                            td.wysiwyg-top-style(onclick="Editor.code()")
                                i.fa.fa-code
                .wysiwyg-textarea
                    textarea#textarea(name="content" required rows="20")=content
    input(type="submit" value="Submit post")